<% content_for :overview do %>
  <h1>About Us</h1>
  <p>Great businesses and great products are built be people who are committed to quality. That's who we are and we think you'll like our approach.
  <p>We're a small team of developers who are passionate about crafting great software.
  <p>We're here to help you build the products and services of the future.
<% end %>


<div class="row">
  <div class="large-6 columns">

General party: i write software,  business applications, am a software developer.

Ruby conference: 
I am a CTO for a startup.  Company is in a loyalty programme business.  We use Ruby on Rails and Foundation front end framework.  The way it works is business signs up merchants and the merchants don't need any software installed they access applications through browser. First time they sign up they get posters on the table saying member of fan club get 15% dissent.  How it works is…

It is building a customer CRM based on loyalty programme.

(He must be a very senior guy because he is a CTO for a startup.)

I have been up and down the technology stack.  We write business and web applications for businesses or companies.  ONe of our specialities is integration of social media and analytics.  We have mid to senior level experts in software application, infrastructure.  Over 75 years expertise in the technology field primarily infrastructure and web applications.  We specialise in taking business requirements, we enhance them with our insights on technology experience, run it through a rigorous development process that involves the customer at every milestone using an agile method.  So if you need to change at the last minute, it is possible.  Flexible to adapt to business changes.  Our process and our attitude embraces change for maximum agility to get your business on a sound foundation.  We believe in long term relationships and constant innovation to help business remain relevant to the market and its customers.  

  </div>
  <div class="large-6 columns">
    <%= image_tag 'rob.jpg', height: 200, width: 200 %>
  </div>
</div>


<div class="row">
</div>
