
<!--
<div class="row">
  <div data-magellan-expedition="fixed">
    <dl class="sub-nav">
      <dd data-magellan-arrival="spec"><a href="#spec">Spec and Plan</a></dd>
      <dd data-magellan-arrival="iterate"><a href="#js">Iterate</a></dd>
    </dl>
  </div>
</div>
-->


<% content_for :overview do %>
  <h1>CONSULT WITH THE EXPERTS</h1>

  <div class='row'>
    <p>Max Cole is run by developers who have worked on projects big and small.
    <p>We focus not just on adding manpower, but on leveling your team up so you're in a better place once we're gone.
    <p>Our goal is to create flexible, innovative products that can easily be maintained by your team. We specialize in projects using Ember.js, Ruby on Rails and advanced JavaScript.

Business is all about people.  

Customers are looking for long term experience.
  </div>

<% end %>


<div class='row'>
  <a name="spec"></a>
  <div class="large-6 columns">
    <h3 data-magellan-destination="build">Understanding Your Objectives</h3>
    <p>It is critical that we understand your business objectives. Often a software project boils down to building a better mousetrap. Just as google search replaced looking up a book in a card catalog or placing a personal ad in the newspaper, we want to understand what it is you do now and how this project will make a better mousestrap. So we can help you get the best results.
  </div>
  <div class="large-6 columns text-center">
    <p> graphic
  </div>
</div>



<div class='row'>
  <a name="js"></a>
  <div class="large-6 columns text-center">
    <p> graphic
  </div>
  <div class="large-6 columns">
    <h3 data-magellan-destination="js">Destination</h3>
    <p>It is critical that we understand your business objectives. Often a software project boils down to building a better mousetrap. Just as google search replaced looking up a book in a card catalog or placing a personal ad in the newspaper, we want to understand what it is you do now and how this project will make a better mousestrap. So we can help you get the best results.
  </div>
</div>
