
<% content_for :overview do %>
  <h1>Your great idea becomes reality</h1>
<% end %>


<div class="row">
  <div class='text-center'>
    <h1>What we do</h1>
  </div>

  <div class="large-4 columns">
    <div class="row text-center">
      <%= image_tag 'consulting.png', height: 175, width: 175 %>
    </div>
    <p></p>
    <div class="row text-center">
      <h2>Web and Busines Applications</h2>
      <p>The juice; We build modern applications delivered via browser
    </div>
  </div>

  <div class="large-4 columns">
    <div class="row text-center">
      <%= image_tag 'engagements.png', height: 175, width: 175 %>
    </div>
    <p></p>
    <div class="row text-center">
      <h2>Social Media and Analytics</h2>
      <p>From integrating your web site with Facebook to slicing and dicing your app's data into meaningful reports
    </div>
  </div>

  <div class="large-4 columns">
    <div class="row text-center">
      <%= image_tag 'open-source.png', height: 175, width: 175 %>
    </div>
    <p></p>
    <div class="row text-center">
      <h2>Mobile</h2>
      <p>get this to top align to other descriptions
    </div>
  </div>

</div>

