
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

//section.middle.tab-bar-section {
//  background-color: #B77A3B;
//}

.max-footer {
  background-color: grey;
  height: 120px;
}

.max-light {
  background-color: #B77A3B;
  height: 220px;
}

.max-light h1 {
  color: white;
}

.max-light p {
  color: white;
}
