<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Max Cole</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Max Cole</label></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/consulting">Consulting</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div class='row full-width max-light text-center'>
        <%= yield :overview %>
      </div>
      <p></p>
      <%= yield %>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
